body{
    /* background-image: url("/static/images/print3.jpg") !important; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
} 
#special{
margin-right: 100px;
}
.line{
background-color: rgb(133, 7, 7);
border-bottom: 1px solid black;
margin: 15px 0px;
}
span{
font-weight: bold;
}

.heading-body{
    
    height: 300px;
    width: 100%;
    padding:20px;
    background-image: url("../images/print1.jpg"), linear-gradient(#eb01a5, #d13531);
    /* background-image: url("../images/print1.jpg"), linear-gradient(to bottom ,rgba(0,0,0,0.7) 0%, rgba(9,0,0,0.7) 100%); */

    /* border: 1px  solid black; */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}
@keyframes data {
    from{
        color:black;
        background-color: white;
    }
    to{
        color: white;
        background-color: black;
    }
}
.main-head{
    color: red;
    background-color: white;
    animation-name: data;
    animation-duration: 5s;
    box-shadow: 1px 1px 7px 7px gray;
}