/* make a div pops out from and div when hover */
#home-heroImage {padding: 0px;
    margin: 0px auto;
    width:980px;
    height: 525px;
    position: relative;
    z-index: 1;
        background-color: #fcba2e;
    }
    
    #home-hero-pop {background-color: #ffffff;
    opacity:0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    font: 16px Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #6d6e70;
    text-align: left;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 505px;
    width: 460px;
    z-index: 2;
    }


    /* same but better */


    .left-right {
        overflow:hidden;
        /* height:400px!important; */
        width: 100% !important;
        position:relative;
        /* background-color:#333; */
    }
    .left-left {
      overflow:hidden;
      height:100%;
      width:100%;
      position:relative;
      background-color:#333;
      /* margin-right: 20px; */
  }
    .slider {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        right:-400px;
        background-color:whitesmoke !important;
        color:black;
        padding: 5px;
        transition:0.4s ease;
    }
    
    .left-right:hover .slider {
      right:0;
      /* top:50px; */
    }

    /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    margin-top: 58px;
    width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    /* left: 100%; */
    right:0 !important;
    z-index: 200;
    /* float: right !important; */
    background-color: rgb(102, 96, 96); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    /* margin-right: 150px !important; */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }